<p id="notice"><%= notice %></p>

<h1 class="list-title">
  <%= @todo_list.title %>
</h1>
<h3 class="list-desc">
  <%= @todo_list.description %>
</h3>

<div id="todo_items_wrapper">
<%= render @todo_list.todo_items %>
    <div id="form">
        <%= render "todo_items/form" %>
    </div>
</div>

<%= link_to edit_todo_list_path(@todo_list) do %>
<i class="fas fa-edit"></i>
<% end %>
 |
<%= link_to todo_lists_path do %>
<i class="fas fa-chevron-circle-left"></i>
<% end %>
